<!-- HEADER -->
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> +221 77 800 99 11</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> e-galsen@gmail.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> Dakar, Sénégal</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a href="#"><i class="fa fa-dollar"></i> EUR</a></li>
        <li><a routerLink="/profile"><i class="fa fa-user-o"></i>{{(authSate!==true) ? 'Se connecter' : 'Mon compte'}}</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- LOGO -->
        <div class="col-md-3">
          <div class="header-logo">
            <a href="#" class="logo">
              <img src="./assets/img/logo.png" alt="">
            </a>
          </div>
        </div>
        <!-- /LOGO -->

        <!-- SEARCH BAR -->
        <div class="col-md-6">
          <div class="header-search">
            <form>
              <select class="input-select">
                <option value="0">Catégories</option>
                <option value="1">Catégorie 01</option>
                <option value="1">Catégorie 02</option>
              </select>
              <input class="input" placeholder="Rechercher">
              <button class="search-btn">Rechercher</button>
            </form>
          </div>
        </div>
        <!-- /SEARCH BAR -->

        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <!-- Wishlist -->
            <div>
              <a href="#">
                <i class="fa fa-heart-o"></i>
                <span>Souhaits</span>
                <div class="qty">0</div>
              </a>
            </div>
            <!-- /Wishlist -->

            <!-- Cart -->
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                <i class="fa fa-shopping-cart"></i>
                <span>Panier</span>
                <div class="qty">{{cartData.data[0].numInCart !==0 ? cartData.data.length : 0}}</div>
              </a>
              <div class="cart-dropdown">
                <div class="cart-list" *ngIf="cartData.data[0].numInCart !==0">
                  <div class="product-widget" *ngFor="let c of cartData.data; let i=index">
                    <div class="product-img">
                      <img *ngIf="c.product" [src]="c.product.image" alt="{{c.product.name}}" width="20px">
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#" *ngIf="c.product">{{c.product.name}}</a></h3>
                      <h4 class="product-price" *ngIf="c.product"><span class="qty">{{c.numInCart}} x</span>{{c.product.price | currency: 'EUR'}}</h4>
                    </div>
                    <button class="delete" (click)="cartService.DeleteProductFromCart(i)"><i class="fa fa-close"></i></button>
                  </div>
                </div>
                <div class="cart-summary">
                  <small>{{cartData.data[0].numInCart!==0 ? cartData.data.length : 0}} Article(s) </small>
                  <h5>TOTAL: {{ cartTotal | currency: 'EUR'}}</h5>
                </div>
                <div class="cart-btns">
                  <a routerLink="/cart">Voir panier</a>
                  <a routerLink="/checkout">Payer  <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /Cart -->

            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
            <!-- /Menu Toogle -->
          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav py-3">
        <li class="active"><a routerLink="/">Accueil</a></li>
        <li><a href="#">Bonnes Affaires</a></li>
        <li><a href="#">Catégories</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->
