<div class="container my-5">
  <!-- When the cart is empty-->
  <div class="text-center my-5" *ngIf="!success">
    <h4>{{message}}</h4>
  </div>
  <!-- When the cart has products-->
  <ng-container *ngIf="success">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead class="table-dark">
          <tr class="text-center">
            <th></th>
            <th>Produits</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of products; let i=index">
            <td class="d-flex align-items-center justify-content-around">
              <img *ngIf="p.image" [src]="p.image" alt="{{p.name}}" height="60" class="order-1">
            </td>
            <td><p *ngIf="p.name">{{p.name}}</p></td>
            <td><p *ngIf="p.total">{{p.total | currency: 'EUR'}}</p></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
</div>
