<!--Spinner-->
<ngx-spinner
  bdColor= "rgba(151,149,149,0.4)"
  size="large"
  color="red"
  type="ball-clip-rotate-pulse"
  [fullScreen]="true"
>
</ngx-spinner>
<div class="content-body">
  <h4 class="text-center mt-md-5">Création mot de passe</h4>
  <p *ngIf="message" class="text-danger text-md-center mt-4">{{message}}</p>
  <div class="row" style="margin-left: 20%;margin-top: 80px;">
    <div class="col-sm-8 col-sm-offset-2">
      <!--<h6 id = "textErr" class="alert alert-success" role="alert" *ngIf="isConn" style="width: 75%;"><strong>Connexion en cours...</strong></h6>-->
      <form #f="ngForm">
        <div class="form-group">
          <label for="password1">
            Mot De Passe
          </label>
          <input type="password" id="password1" class="form-control w-100" name="password1" [(ngModel)]="password1" required minlength="6">
        </div>
        <div class="form-group">
          <label for="password2">
            Confirmation
          </label>
          <input type="password" id="password2" class="form-control w-100" name="password2" [(ngModel)]="password2" required minlength="6">
        </div>
        <button (click)="register(f)" class="btn btn-primary btn-sm btn-block mt-4" type="submit" [disabled]="f.invalid || password1!==password2"><i class="fa fa-user"></i> Créer</button><br>
      </form>
      <p *ngIf="password1!==password2" class="text-danger text-md-center">Les deux mots de passe doivent être identiques et contenir plus de 6 caractères!</p>
      <!--<h6 id = "textErr" class="alert alert-danger" role="alert" *ngIf="isErreur" style="width: 75%;"><strong>Une erreur s'est produite.</strong> Vérifier vos identifiants!!!</h6>-->
    </div>
  </div>
</div>
