<div class="content-body">
  <h4 class="text-center mt-md-5">Connexion</h4>
  <div class="row" style="margin-left: 20%;margin-top: 80px;">
    <div class="col-sm-8 col-sm-offset-2">
      <!--<h6 id = "textErr" class="alert alert-success" role="alert" *ngIf="isConn" style="width: 75%;"><strong>Connexion en cours...</strong></h6>-->
      <form #f="ngForm">
        <div class="form-group">
          <label for="email">
            Email
          </label>
          <input type="email" id="email" class="form-control w-100" name="email" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
          <label for="password">
            Mot De Passe
          </label>
          <input type="password" id="password" class="form-control w-100" name="password" [(ngModel)]="password" required minlength="6">
        </div>
        <button (click)="login(f)" class="btn btn-primary btn-sm btn-block mt-4" type="submit" [disabled]="f.invalid"><i class="fa fa-user"></i> Login</button>
        <button (click)="signInWithGoogle()" class="btn btn-danger btn-sm btn-block mt-4">
          <span><i class="fa fa-google">  Google</i></span>
        </button>
      </form>
      <a routerLink="inscription">Pas de compte?</a>
      <!--<h6 id = "textErr" class="alert alert-danger" role="alert" *ngIf="isErreur" style="width: 75%;"><strong>Une erreur s'est produite.</strong> Vérifier vos identifiants!!!</h6>-->
    </div>
  </div>
</div>
<!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin" #f="ngForm">
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" [(ngModel)]="email" required autofocus>
              <label for="inputEmail">Email address</label>
            </div>

            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" required minlength="4">
              <label for="inputPassword">Password</label>
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="login(f)" [disabled]="f.invalid">Sign in</button>
            <hr class="my-4">
            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2" (click)="signInWithGoogle()"></i> Sign in with Google</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>-->
