<div class="container">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img [src]="myUser.photoUrl" alt="{{myUser.firstName||myUser.lastName}}" class="profile-img"/>
          <div class="file btn btn-lg btn-primary">
            Change Photo
            <input type="file" name="file"/>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{myUser.name || (myUser.firstName+ ' '+myUser.lastName)}}
          </h5>
          <h6>
            {{myUser.email}}
          </h6>
        </div>
      </div>
      <div class="col-md-2">
        <button (click)="logout()" class="btn btn-secondary btn-sm" name="btnAddMore" type="button">Se déconnecter</button>
      </div>
    </div>
  </form>
  <!-- When the cart is empty-->
  <div class="text-center my-5" *ngIf="myOrders.length === 0">
    <h4>Aucune commande</h4>
    <button class="btn btn-primary btn-lg mt-3" routerLink="/">Voir les produits</button>
  </div>
  <!-- When the cart has products-->
  <ng-container *ngIf="myOrders.length !== 0">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead class="table-bordered table-dark">
          <tr class="text-left">
            <th></th>
            <th>ID Commande</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let o of myOrders; let i=index">
            <td class="align-items-start justify-content-around">
              <i class="fa fa-shopping-bag"></i>
            </td>
            <td><p class="text-left" *ngIf="o" (click)="selectOrder(o.id)">{{o.id}}</p></td>
            <td><p class="text-left" *ngIf="o">{{o.total | currency: 'EUR'}}</p></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 d-flex mb-5">
        <div class="d-flex justify-content-between flex-sm-column flex-md-row w-100">
          <button class="btn btn-lg btn-secondary order-0" [disabled]="page===1" (click)="nextPrevious(false)"> < </button>
          <button class="btn btn-lg btn-secondary order-1" [disabled]="end" (click)="nextPrevious(true)"> > </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
