<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron text-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead"><strong>Please check your email</strong> for order confirmation.</p>
        <hr>
        <p>

        <p>Order Id : <strong>{{orderId}}</strong></p>
      </div>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of products">
          <td>
            <img [src]="p.image" alt="{{p.name}}" class="img-thumbnail" width="100px">
          </td>
          <td>{{p.name}}</td>
          <td>{{p.price | currency:'EUR'}}</td>
          <td>{{p.quantity}}</td>
        </tr>

        <tr class="border-0">
          <td style="border: none;"></td>
          <td></td>
          <td>TOTAL</td>
          <td>{{cartTotal | currency:'EUR'}}</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="text-center my-5" *ngIf="thank">
  <button class="btn btn-primary btn-lg mt-3" routerLink="/">Go to home</button>
</div>
